# Ignore typically generated output files
output*.xml
database*
*basexdb
ccsm_c.txt
concs_c.dis
emiss_c.dis
forcings_c.dis
fracleft_c.out
mag_c.csv
magout_c.csv
sealev_c.dis
temps_c.dis
gcam_diagnostics/gcam_data*/
gcam_diagnostics/logs*/
gcam_diagnostics/mappings*/
gcam_diagnostics/post_process*/
gcam_diagnostics/scripts*/
gcam_diagnostics*.R
gcam_diagnostics*.xml
